@import "../assets/styles/variables";

.footer {
  background-color: $main-blue;
  .footer-container {
    .additional-info-container {
      padding: 56px 27% 102px;
      p {
        letter-spacing: 0.02em;
        color: $main-gray;
      }
      .line {
        width: 24px;
        height: 1.4px;
        background-color: #ffffff;
        margin: 50px 0;
      }
    }
    .social-btn-container {
      .social-btn {
        display: inline-block;
        width: 46px;
        height: 46px;
        cursor: pointer;
        background-size: 100% 100%;
        &.in-btn {
          margin-left: 16px;
          background-image: url("data:image/svg+xml, %3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.9636 46C19.9417 45.9941 16.9504 45.3928 14.1608 44.2304C11.3712 43.068 8.83784 41.3674 6.70541 39.2256C4.57297 37.0837 2.88324 34.5427 1.73273 31.7476C0.582212 28.9525 -0.00655711 25.9581 5.50811e-05 22.9353C0.0359834 10.253 10.3582 -0.0269002 23.0481 5.28807e-05C29.1465 0.0112522 34.9907 2.44519 39.295 6.76644C43.5993 11.0877 46.0112 16.9423 46 23.0422C45.9888 29.1422 43.5554 34.9879 39.2353 39.2933C34.9151 43.5987 29.0621 46.0112 22.9636 46ZM9.72405 23.0216C9.80669 25.1886 9.81028 27.3934 9.98992 29.5837C10.2684 32.9313 12.6055 35.4487 15.9073 35.9159C17.5846 36.1239 19.2744 36.2133 20.9642 36.1837C23.8205 36.1837 26.6858 36.1962 29.5313 36.004C32.1721 35.8243 34.1822 34.4694 35.3463 32.0185C35.8446 30.9373 36.1026 29.7609 36.1026 28.5703C36.1493 25.5036 36.1745 22.4352 36.1781 19.3649C36.1726 18.3769 36.1169 17.3897 36.011 16.4073C35.6715 13.0525 33.3972 10.5549 30.0828 10.0787C28.4176 9.83972 26.7128 9.81097 25.0277 9.81097C22.1858 9.81097 19.3349 9.793 16.5037 9.99066C12.866 10.244 10.2881 12.8567 9.98633 16.4828C9.80489 18.6462 9.80489 20.8186 9.72405 23.0216Z' fill='%23ECEDF0'/%3E%3Cpath d='M22.9962 12.1308C24.9992 12.1883 27.0076 12.1955 29.007 12.3105C31.7681 12.4758 33.5879 14.2223 33.6615 16.9931C33.7669 20.9846 33.7669 24.9784 33.6615 28.9746C33.5861 31.7706 31.7663 33.5225 28.9801 33.6824C24.975 33.9133 20.96 33.9133 16.9549 33.6824C14.2279 33.5225 12.3992 31.7598 12.3255 29.0214C12.2189 25.0143 12.2189 21.0049 12.3255 16.9931C12.3992 14.2259 14.2243 12.5153 16.98 12.2997C17.2782 12.2763 17.5764 12.2332 17.8782 12.2332C19.583 12.2332 21.2914 12.2332 22.9944 12.2332L22.9962 12.1308ZM29.7669 23.0216C29.7712 21.6823 29.3785 20.3718 28.6385 19.2556C27.8986 18.1393 26.8445 17.2675 25.6095 16.7501C24.3744 16.2328 23.0138 16.0931 21.6994 16.3488C20.3851 16.6045 19.176 17.244 18.2248 18.1867C17.2736 19.1293 16.623 20.3328 16.3552 21.645C16.0875 22.9573 16.2145 24.3195 16.7202 25.5596C17.226 26.7997 18.0878 27.8621 19.1968 28.6125C20.3059 29.363 21.6124 29.7679 22.9513 29.7761C23.8431 29.7832 24.7274 29.6138 25.5534 29.2776C26.3794 28.9415 27.1308 28.4452 27.7643 27.8174C28.3977 27.1896 28.9008 26.4427 29.2445 25.6196C29.5882 24.7965 29.7658 23.9136 29.7669 23.0216ZM30.0346 17.5268C30.3457 17.5285 30.6503 17.4382 30.9102 17.2671C31.1701 17.0961 31.3736 16.852 31.4952 16.5656C31.6167 16.2791 31.6509 15.9631 31.5933 15.6573C31.5358 15.3515 31.3891 15.0696 31.1718 14.8469C30.9544 14.6243 30.6761 14.4709 30.3718 14.4061C30.0676 14.3413 29.7509 14.3679 29.4617 14.4827C29.1726 14.5974 28.9238 14.7951 28.7466 15.0509C28.5695 15.3068 28.472 15.6093 28.4663 15.9204C28.4615 16.1295 28.4985 16.3374 28.5752 16.532C28.6518 16.7266 28.7666 16.9039 28.9126 17.0535C29.0587 17.2032 29.2332 17.3221 29.4259 17.4034C29.6185 17.4846 29.8255 17.5266 30.0346 17.5268Z' fill='%23ECEDF0'/%3E%3Cpath d='M27.3991 22.9999C27.3988 23.8712 27.14 24.7227 26.6555 25.4467C26.171 26.1708 25.4827 26.7347 24.6776 27.0672C23.8725 27.3997 22.9869 27.4858 22.1329 27.3146C21.2788 27.1433 20.4948 26.7225 19.88 26.1053C19.2653 25.4881 18.8474 24.7024 18.6794 23.8475C18.5113 22.9926 18.6006 22.1071 18.936 21.303C19.2714 20.499 19.8377 19.8125 20.5634 19.3306C21.289 18.8487 22.1413 18.593 23.0123 18.5958C24.1769 18.601 25.2922 19.0672 26.1142 19.8925C26.9362 20.7178 27.3982 21.835 27.3991 22.9999Z' fill='%23ECEDF0'/%3E%3C/svg%3E");
        }
        &.fb-btn {
          margin-right: 16px;
          background-image: url("data:image/svg+xml,%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 22.9784C0.00898437 10.3051 10.3464 -0.0107728 23.0216 8.44303e-06C35.6967 0.0107897 46.0126 10.3446 46 23.0216C45.9874 35.6985 35.65 46.0162 22.9784 46C10.3069 45.9838 0 35.6536 0 22.9784ZM28.7194 23.7996C28.883 22.2184 29.0393 20.691 29.2028 19.1008H24.9891C24.9891 18.0586 24.9604 17.0703 24.9999 16.0874C25.0269 15.4531 25.4437 15.1009 26.087 15.0506C26.2955 15.0345 26.5057 15.0506 26.7159 15.0506H29.1094V10.5297C29.0609 10.5063 29.0357 10.4812 29.0087 10.4812C27.3035 10.4955 25.5947 10.3967 23.8966 10.5566C21.9039 10.7363 20.4682 11.863 19.8375 13.8036C19.609 14.6067 19.4781 15.4345 19.4476 16.2689C19.3829 17.1889 19.4332 18.1179 19.4332 19.0954H16.8331V23.8266H19.444V37.1126H24.9927V23.7996H28.7194Z' fill='%23ECEDF0'/%3E%3C/svg%3E");
        }
      }
    }
    .copyright {
      font-size: 12px;
      line-height: 24px;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 20px;
      background: $primary-dark;
      min-height: 50px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .footer {
    .footer-container {
      .copyright {
        min-height: 40px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .footer {
    .footer-container {
      .additional-info-container {
        padding-top: 40px;
      }
    }
  }
}


@media screen and (max-width: 992px) {
  .footer {
    .footer-container {
      .additional-info-container {
        padding-left: 21%;
        padding-right: 21%;
      }
    }
  }
}


@media screen and (max-width: 576px) {
  .footer {
    .footer-container {
      .additional-info-container {
        padding-left: 6%;
        padding-right: 6%;
      }
    }
  }
}
