.map-container {
  width: 100%;
  height: 650px;
  background-color: #D9D6DF;
}

@media screen and (max-width: 1200px){
  .map-container {
    height: 500px;
  }
}

@media screen and (max-width: 992px){
  .map-container {
    height: 400px;
  }
}

@media screen and (max-width: 576px){
  .map-container {
    height: 300px;
  }
}